<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nachop card's Website</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="static/styles.css" />
    <script
      src="https://kit.fontawesome.com/32855bc4c2.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <main>
      <div class="card">
        <div class="top">
          <hr class="card__decorator" />
          <div class="card__container">
            <img
              src="static/nacho.jfif"
              alt="Photo of Nacho"
              class="card__image"
            />
          </div>
        </div>
        <div class="bottom">
          <h1 class="card__name">Nacho Peralta</h1>
          <h2 class="card__details">Junior Full Stack Developer</h2>
          <div class="logos">
            <a href="https://github.com/Nachop51/">
              <i class="fa-brands fa-github"></i>
            </a>
            <a href="https://www.instagram.com/nachop51/">
              <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/in/ignacio-peralta-576a72226/">
              <i class="fa-brands fa-linkedin-in"></i
            ></a>
          </div>
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="footer__container">
        <div class="footer__text">
          <p>
            <span class="footer__text--bold">Nacho Peralta</span> &copy; 2022
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
