<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/login" method="post">
      <label for="name">Name</label>
      <input type="text" id="name" name="username" placeholder="name" />
      <label for="pass">Password</label>
      <input type="password" id="pass" name="password" placeholder="password" />
      <button id="submit">Ok</button>
    </form>
  </body>
</html>
