<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    
    <link href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap" rel="stylesheet">
    <link
      href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="static/style.css" />

    <title>Nachop's website</title>
  </head>

  <body>
    <div class="top-container">
      <img src="static/cloud.png" alt="Cloud image" class="top-cloud" />
      <h1>Hi! I'm Nacho</h1>
      <p class="div__h1_p">
        <b>a <em>web development</em> student.</b>
      </p>
      <img src="static/cloud.png" alt="Cloud image" class="bottom-cloud" />
    </div>

    <div class="mountain-div">
      <img src="static/mountain.png" alt="Mountain image" class="mountain" />
    </div>

    <hr class="hr-separator">

    <div class="middle-container">
      <div class="profile">
        <img src="static/nacho.png" alt="Nachop image" class="nachop-img" />
        <h2>This is me!</h2>
        <p>I'm currently learning web development</p>
        <p>This page is based on HTML and CSS.</p>
      </div>
      <hr />
      <div class="hobbies">
        <h2 id="hobbies__h1">My hobbies.</h2>
        <div class="hobbies-row">
          <img id="gaming-img" class="gaming" src="static/gaming.png" alt="Gaming image" />
          <h3 class="gaming">Videogames</h3>
          <p class="gaming">
             Usually in my spare time, I like to play video games like CSGO, and many others.
          </p>
        </div>
        <div class="hobbies-row2">
          <img class="chess-img" src="static/chess.png" alt="Chess image" />
          <h3>Chess!</h3>
          <p id="hobbies__p">
            I usually play chess, I like to solve some puzzles and play Blitz, its a challenging game and I love it!
          </p> 
        </div>
      </div>
      <hr>
      </div>
        <div class="skill-row">
          <h2 id="skill__h2">My skills</h2>
          <img class="skill-img" src="static/code.png" alt="Skill image">
          <h3>Programming</h3>
          <p id="skill-row__p">
            I'm having so much fun learning programming, is like a new world for me!
          </p>
          <p id="skill-row__p2">
            These below are a few games that i've developed using HTML, CSS and Javascript!
          </p>
          <table>
            <tr><td><a class="btn" target="_blank" href="pingpong.html">·Ping pong</a></td></tr>
            <tr><td><a class="btn" target="_blank" href="Tetrisgame.html">·Tetris game</a></td></tr>
            <tr><td><a class="btn" target="_blank" href="snakegame.html">·Snake</a></td></tr>
        </table>
        </div>
      </div>
      <hr />
      <div class="contact-me">
        <h2>Get In Touch</h2>
        <p>
          This is my first website, but soon I'll release more!
        </p>
        <h3>Follow me!</h3>
        <a class="btn" target="_blank" href="mailto:nachoperalta0@gmail.com">CONTACT ME</a>
      </div>
    </div>

    <div class="bottom-container">
      <a
        class="footer-link"
        target="_blank"
        href="https://www.instagram.com/nachop51/"
        >Instagram</a
      >
      <a
        class="footer-link"
        target="_blank"
        href="https://twitter.com/Nachop_51"
        >Twitter</a
      >
      <a class="footer-link" target="_blank" href="https://github.com/Nachop51"
        >Git hub</a
      >
      <p>© 2021 Nacho Peralta.</p>
    </div>
  </body>
</html>
