body {
  margin: 0;
  text-align: center;
  background-color: #e1f5ff;
  font-family: "Indie Flower", cursive;
  color: #666;
}

hr {
  width: 50%;
  height: 0;
  border-style: none;
  border-top-style: dotted;
  border-color: #999;
  border-width: 4px;
}

p {
  font-size: 1.05rem;
}

a {
  font-size: 1.05rem;
}

h3 {
  color: #11999e;
  font-size: 1.62rem;
}

h2 {
  color: #666;
  font-size: 2.5rem;
}

h1 {
  font-family: "Pattaya", sans-serif;
  color: #444;
  font-size: 4rem;
  margin: 12rem auto 0 auto;
  line-height: 2;
}

.div__h1_p {
  font-family: "Pattaya", sans-serif;
  color: #444;
  margin: 1rem auto 0 auto;
  font-size: 2rem;
  font-weight: normal;
}

.top-container {
  background-color: #e1f5ff;
}

.bottom-cloud {
  position: absolute;
  width: 9.375rem;
  height: 3rem;
  top: 30rem;
  left: 23vw;
}

.top-cloud {
  position: absolute;
  width: 9.375rem;
  height: 3rem;
  left: 64vw;
  top: 8rem;
}

.mountain {
  width: 50%;
  height: 100%;
}

.mountain-div {
  margin-top: 2.5rem;
}

.hr-separator {
  margin-top: 6.25rem;
}

.nachop-img {
  border-radius: 100%;
  border: solid 1.5px rgb(3, 3, 40);
  width: 300px;
  height: 300px;
}

#gaming-img {
  width: 15rem;
  height: 15rem;
}

#skill__h2 {
  text-align: center;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.profile {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: center;
}

#skill-row__p {
  margin-top: 1.2rem;
  margin-bottom: 0;
}

#skill-row__p2 {
  margin: 0;
}

#hobbies__p {
  display: inline-block;
  text-align: left;
  right: 0;
  width: 55%;
  margin-top: 1.2rem;
}

.chess-img {
  width: 15rem;
  height: 15rem;
}

.skill-img {
  width: 15rem;
  height: 15rem;
}

#hobbies__h1 {
  margin-top: 100px;
  text-align: center;
}

table {
  text-align: left;
}

.btn {
  color: #11999e;
}

.footer-link {
  color: #11999e;
}

.hobbies-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.hobbies-row2 {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: right;
}
